body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/joanna-kosinska-669797-unsplashrevindex.jpg);
    background-size: repeat;
    background-position: right;
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 18%;
    background-color: #000000;
    color: #FFFFFF;
}

nav li{
    list-style-type: none;
    font-weight: bolder;
    padding: 10%;
}

nav ul{
    padding: 20px 0px;
    text-align: center;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover{
    background: #48ACF0;
}

nav img{
    width: 100%;
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    border-radius: 20px;
}

.main{
    margin-left: 18%;
    margin-top: -10px;
}

.hello{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    background-image: url(../img/julie-johnson-507093-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    color: #FFFFFF;
    text-shadow: 5px 5px 10px rgba(0,0,0,.5);
    border-radius: 20px;
}

.hello h1{
    line-height: 1.5em;
}

.descriptions{
    display: flex;
    justify-content: center;
    padding: 8%;
}

.descriptionone, .descriptiontwo{
    width: 50%;
    padding: 3% 3% 2% 3%;
    text-align: left;
    line-height: 2em;
    border-radius: 20px;
    margin: 30px 15px 30px 15px;
}

.descriptionone{
    background-color: #666666;
    color: #FFFFFF;
}

.descriptiontwo{
    background-color: #D3649F;
    color: #FFFFFF;
}

.skills{
    padding: 5%;
}

.skills h2, .projects h2, .workexperience h2, .education h2, .projects h2{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.skillsdescriptions{
    display: flex;
    justify-content: center;
}

.skillsone, .skillstwo{
    width: 30%;
    padding: 2%;
    line-height: 1.5em;
    margin: 30px 15px 30px 15px;
}

.skillsone{
    background-color: #FFFFFF;
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    border-radius: 20px;
}

.skillstwo{
    background-color: #000000;
    border-radius: 20px;
    color: #FFFFFF;
}

.projects{
    padding: 5%;
}

.projectdetails{
    display: flex;
    justify-content: center;
}

.projectdetails2{
    align-self: center;
}

.projectone, .projecttwo{
    margin: 30px 15px 30px 15px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    position: relative;
    width: 40%;
}

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20px;
    }

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    line-height: 1.5em;
    text-align: center;
    }

.projectone .text{
    background-color: #D3649F;
    color: #FFFFFF;
    padding: 5%;
    }

.projecttwo .text{
    background-color: #FFFFFF;
    color: #000000;
    padding: 5%;
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    }

.projectone:hover .image, .projecttwo:hover .image{
    opacity: 0.5;
    }

.projectone:hover .middle, .projecttwo:hover .middle{
    opacity: 1;
    }

.workexperience{
    padding: 5%;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    border-radius: 20px;
    margin: 30px 100px 30px 100px;
}

.workdescription{
    padding-left: 5%;
    float: left;
    width: 80%;
}

.worklinkedin{
    text-align: left;
}

.worklinkedin:hover{
    opacity: 0.5;
}

.education{
    padding: 5%;
}

.educationdetails{
    display: flex;
}

.educationone{
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 2%;
    width: 33.33%;
    margin: 30px 15px 30px 15px;
}

.educationtwo{
    background-color: #D3649F;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 2%;
    width: 33.33%;
    margin: 30px 15px 30px 15px;
}

.educationthree{
    background-color: #FFFFFF;
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    border-radius: 20px;
    padding: 2%;
    width: 33.33%;
    margin: 30px 15px 30px 15px;
}

form{
    margin-left: 30%;
    font-weight: bolder;
    padding-top: 50px;
}

iframe{
    margin-left: 30%;
    padding-top: 10%;
}

@media screen and (max-width: 800px){
    nav{
        position: relative;
        width: 100%;
    }
    
    nav img{
        width: 40%;
        max-height: 500px;
        margin: 0 auto;
        display: block;
    }
    
    nav li{
        padding: 3%;
        text-align: center;
    }

    .main{
        margin: 0px;
    }
    
    iframe{
        margin: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .hello h1{
        font-size: 30px;
    }
    
    .descriptions, .skillsdescriptions, .educationdetails{
        flex-direction: column;
    }
    
    .descriptionone, .descriptiontwo, .skillsone, .skillstwo, .educationone, .educationtwo, .educationthree, .workexperience{
        width: 80%;
        margin: 0 auto;
    }
        
    .workdescription{
        float: none;
    }
    
    .worklinkedin{
        text-align: center;
    }
}
