body{
    font-family:helvetica;
    background-color: white;    }

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 18%;
    background-color: black;
    color: white;
}

nav li{
    list-style-type: none;
    padding: 30px;
    text-align: left;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

nav a:hover{
    background: #48ACF0;
    color: #F1E9DB;
}

nav img{
    width: 90%;
    text-align: center;
}

nav img{
    border-radius: 10px 20px 10px 20px;
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
}

.main, form{
    margin-left: 18%;
    margin-top: -10px;
}

.hello{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    background-image: url(../img/julie-johnson-507093-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    color: white;
    text-shadow: 5px 5px 10px rgba(0,0,0,.5);
    border-radius: 30px 30px 30px 30px;
}

.hello h1{
    line-height: 1.5em;
}

.descriptions{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 8%;
}

.descriptionone, .descriptiontwo{
    width: 50%;
    padding: 3% 3% 2% 3%;
    text-align: left;
    line-height: 2em;
    border-radius: 30px 30px 30px 30px;
    margin: 30px 15px 30px 15px;
}

.descriptionone{
    background-color: #666666;
    color: white;
}

.descriptiontwo{
    background-color: #D3649F;
    color: white;
}

.skills{
    padding: 5%;
}

.skills h2, .projects h2, .workexperience h2, .education h2, .projects h2{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.skillsdescriptions{
    display: flex;
    justify-content: center;
}

.skillsone, .skillstwo{
    width: 30%;
    padding: 2%;
    line-height: 1.5em;
    margin: 30px 15px 30px 15px;
}

.skillsone{
    background-color: white;
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    border-radius: 30px 30px 30px 30px;
}


.skillstwo{
    background-color: black;
    border-radius: 30px 30px 30px 30px;
    color: white;
}

.projects{
    padding: 5%;
}

.projectdetails{
    display: flex;
    justify-content: center;
}

.projectone, .projecttwo{
    margin: 30px 15px 30px 15px;
    border-radius: 30px 30px 30px 30px;
}

.workexperience{
    padding: 5%;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
        margin: 30px 100px 30px 100px;
}

.workdescription{
    float: left;
    width: 80%;
}

.worklinkedin{
    text-align: left;
}

.worklinkedin:hover{
    opacity: 0.5;
}

.education{
    padding: 5%;
}

.educationdetails{
    display: flex;
}

.educationone{
    background-color: #666666;
    color: white;
    border-radius: 30px 30px 30px 30px;
    padding: 2%;
    width: 33.33%;
    margin: 30px 15px 30px 15px;
}

.educationtwo{
    background-color: #D3649F;
    color: white;
    border-radius: 30px 30px 30px 30px;
    padding: 2%;
    width: 33.33%;
    margin: 30px 15px 30px 15px;
}

.educationthree{
    background-color: white;
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    border-radius: 30px 30px 30px 30px;
    padding: 2%;
    width: 33.33%;
    margin: 30px 15px 30px 15px;
}


/*.projectdetails{
    display: flex;
}

.projectdetails img{
    width: 100%;
}

.projectonedescription, .projectonecontent, .projecttwocontent, .projecttwodescription{
    width: 25%;
    box-sizing: border-box;
}

.projectonedescription, .projecttwodescription{
    padding: 5%;
    line-height: 1.5em;
    text-align: center;
}

.projectonedescription{
    background-color: black;
    color: white;
}

.projecttwodescription{
    background-color: #D3649F;
    color: white;
}

.projectdetails:hover .image {
  opacity: 0.3;
}

div{
    background-color: rgba(251,237,252,0.3);
}
*/





